extends layout/layout

block head
	- var title = "Lifefork";
	- var description = "Lifefork";
	- var keywords = "lifefork";

block content

	section.fullscreen.mainSliderWrapper(data-block="life")
		.mainSlider.fullscreen
			ul.slides
				li(style="background-image: url(" + prefix + "/img/slider/1.jpg)")
					.container.fullscreen
						.sliderText
							h3  Join and blend
							p Geçmiş, geleceğe,eğlence şehre, hayatın tüm renkleri birbirine karışıyor
								b #bizekarış

				li(style="background-image: url(" + prefix + "/img/slider/2.jpg)")
					.container.fullscreen
						.sliderText
							h3  KitchenAid
							p Dünya'nın 1 numaralı stand mixer markası Kitchen Aid'in Türkiye yolculuğunda el eleyiz. Markanın djital stratejisi, sosyal medya içerikleri, etkinlik tasarımları ekibimizin lezzetli ellerinde:)

				li(style="background-image: url(" + prefix + "/img/slider/4.jpg)")
					.container.fullscreen
						.sliderText
							h3  Ontex Global
							p Doğa dostu nesiller yaratmak üzere yola çıktık!
								b #loveyourbabynaturally

				li(style="background-image: url(" + prefix + "/img/slider/3.jpg)")
					.container.fullscreen
						.sliderText
							h3  Kopaş Holding
							p SESU Ağda'nın ünlü kozmetik blogger'larıyla #saklamazsinkendini iletişimini üstlendik.


		.container
			.slideTexts.col-xs-10.col-sm-7.col-md-4
				ol.flex-control-nav
					li
						span.number 01
						h3
							span Join and blend
						p Geçmiş, geleceğe,eğlence şehre, hayatın tüm renkleri birbirine karışıyor #madeformixing, #bizekarış. Çünkü birlikte ve sosyal medyada daha güzeliz.
					li
						span.number 02
						h3
							span KitchenAid
						p Dünya'nın 1 numaralı stand mixer markası Kitchen Aid'in Türkiye yolculuğunda el eleyiz. Markanın djital stratejisi, sosyal medya içerikleri, etkinlik tasarımları ekibimizin lezzetli ellerinde:)
					li
						span.number 03
						h3
							span Ontex Global
						p Doğa dostu nesiller yaratmak üzere yola çıktık! #loveyourbabynaturally
					li
						span.number 04
						h3
							span Kopaş Holding
						p SESU Ağda'nın ünlü kozmetik blogger'larıyla #saklamazsinkendini iletişimini üstlendik.

		//img.scrollDown(src=prefix+"/img/scroll-down.png")


	section.fullscreen.centerfix.articleBlock.aboutBlock(data-block="about")
		.container
			.dTable
				.vMiddle
					.row
						ul.tabBlock.col-xs-12.col-sm-6.col-md-7(data-tab="about")
							li.active(data-index="1")
								h3.title.title-primary Nereden başladık
								p 2018 başında dinamik ve yetenekli bir ekiple bizi heyecanlandıran, sosyal medyada fark yaratacak projelerin peşine düştük! Kısa zamanda çok sevdiğimiz markalar için dijital stratejiler oluşturup, sosyal medya kanalları için projeler geliştirdik. Bizimle beraber yaratıcı, yeni medya projeleri geliştirmek isteyen tüm markaları bir kahveye bekleriz!

							li(data-index="3")
								h3.title.title-primary.centerfix.title-space Ofis halleri
								.officeSlider.centerfix
									ul.slides
										- for(var i = 1; i<=9; i++)
											li.office
												img(src=prefix+"/img/about/"+i+".jpg")
												img.hover(src=prefix+"/img/about/"+i+"-h.jpg")


					ul.tabNav
						li.active
							a(data-id="1", data-block="about") Hakkında
						li
							a(data-id="3", data-block="about") Ofis halleri

	section.fullscreen.centerfix.references(data-block="references")
		.container
			.dTable
				.vMiddle
					h2.title.title-fifth.green Referanslarımız
					.referencesSlider
						ul.slides
							li
								a(href="#" style="background-image:url(" + prefix + "/img/references/jb.png)")
							li
								a(href="#" style="background-image:url(" + prefix + "/img/references/KitchenAid.png)")
							li
								a(href="#" style="background-image:url(" + prefix + "/img/references/reckitt.png)")
							li
								a(href="#" style="background-image:url(" + prefix + "/img/references/mey.png)")
							li
								a(href="#" style="background-image:url(" + prefix + "/img/references/teb.png) ")
							li
								a(href="#" style="background-image:url(" + prefix + "/img/references/brit.png)")
							li
								a(href="#" style="background-image:url(" + prefix + "/img/references/herby.png)")
							li
								a(href="#" style="background-image:url(" + prefix + "/img/references/sesu.png) ")
							li
								a(href="#" style="background-image:url(" + prefix + "/img/references/Ontex.png) ")
							li
								a(href="#" style="background-image:url(" + prefix + "/img/references/imuneks.png) ")
							li
								a(href="#" style="background-image:url(" + prefix + "/img/references/Sabancı.png) ")
							li
								a(href="#" style="background-image:url(" + prefix + "/img/references/Tink.png) ")


	section.fullscreen.centerfix.services(data-block="services")
		.container
			.row
				.centerfix.text-center
					h2.title.title-fifth Ne Yapıyoruz?
				.col-xs-12.col-sm-6.col-md-3.article
					.img
						img.thumb(src=prefix+"/img/services/KAH.gif")
					h3.title.title-fourth Kreatif Ajans Hizmeti
					p Dijital strateji oluşturma, Marka kimliği, Web tasarım, Mobil uygulama tasarımı
				.col-xs-12.col-sm-6.col-md-3.article
					.img
						img.thumb(src=prefix+"/img/services/SM.gif")
					h3.title.title-fourth Sosyal Medya & Dijital Projeler
					p Sosyal medya yönetimi, Moderasyon, Motion
				.col-xs-12.col-sm-6.col-md-3.article
					.img
						img.thumb(src=prefix+"/img/services/EO.gif")
					h3.title.title-fourth Event ve Outdoor Çalışmalar
					p Etkinlik tasarımı, Lansman, Relansman aktiviteleri, Workshop tasarımı, Outdoor reklam uygulamaları
				.col-xs-12.col-sm-6.col-md-3.article
					.img
						img.thumb(src=prefix+"/img/services/PRO.gif")
					h3.title.title-fourth Prodüksiyon
					p Masaüstü, Animasyon, Dijital ve TV video üretimi, Fotoğraf çekimi

	section.fullscreen.centerfix.gallery(data-block="works")

			.col-xs-12.col-sm-6.col-md-4
				.row
					.block
						img.img-responsive(src=prefix+"/img/works/13.jpg")
					.block
						img.img-responsive(src=prefix+"/img/works/6.jpg")
					.block
						img.img-responsive(src=prefix+"/img/works/1.jpg")
			.col-xs-12.col-sm-6.col-md-4
				.row
					.block
						img.img-responsive(src=prefix + "/img/works/7.jpg")
					.block
						img.img-responsive(src=prefix + "/img/works/8.jpg")
					.block
						img.img-responsive(src=prefix + "/img/works/2.jpg")
					.block
						img.img-responsive(src=prefix + "/img/works/4.jpg")
					.block
						img.img-responsive(src=prefix + "/img/works/5.jpg")
			.col-xs-12.col-sm-12.col-md-4
				.row
					.block
						img.img-responsive(src=prefix + "/img/works/9.jpg")
					.block
						img.img-responsive(src=prefix + "/img/works/10.jpg")
					.block
						img.img-responsive(src=prefix + "/img/works/11.jpg")
					.block
						img.img-responsive(src=prefix + "/img/works/12.jpg")
					.block
						img.img-responsive(src=prefix + "/img/works/3.jpg")

	section.fullscreen.centerfix.contact(data-block="contact")
		.mask
		.container.fullscreen
			.addressPin Esentepe Mahallesi, Büyükdere Caddesi <br /> Özsezen İş Merkezi B Blok Kat:10 Şişli<br />İstanbul<br />
				a(href="mailto:info@lifefork.com") info@lifefork.com
				| <br />0212 8070807
				.centerfix
					img(src=prefix+"/img/contact/address.png")