- var prefix = "public/dist"
<!DOCTYPE html>
html
	head
		block head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title= title
		meta(name="description", content=description ? description : "")
		meta(name="keywords", content=keywords ? keywords : "")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="theme-color", content="#ffffff")
		meta(name="format-detection", content="telephone=no")
		link(rel="shortcut icon", type="image/x-icon", href="assets/dist/img/favicon/favicon.ico")
		// link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")
		// link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")
		// link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet")
		link(rel="stylesheet", href=prefix + "/css/style.css")

	body(class=bodyClass)
		<!-- Header start here -->
		header
			.container
				a.headerLogo(href="#", title="Lifefork")
					img(src=prefix+"/img/lifefork-logo.svg")

				nav#mainMenu.hidden-xs
					ul
						li
							a.active(href="#life") Lifefork
						li
							a(href="#about") Hakkımızda
						li
							a(href="#references") Referanslar
						li
							a(href="#services") Ne yapıyoruz?
						li
							a(href="#works") İşler
						li
							a(href="#contact") Bize Ulaşın

				a.toggleMenu.megaMenuButton.visible-xs-block(href="#")
					span
					span
					span
		main
			block content

		<!-- Footer start here -->
		footer
			.container
				.address
					#time
					img(src=prefix+"/img/icon/address.svg")
					p Esentepe Mahallesi, Büyükdere Caddesi <br /> Özsezen İş Merkezi B Blok Kat:10 Şişli <br />İstanbul

				ul.socialMenu
					li
						a(href="#", title="Lifefork Instagram")
							img(src=prefix+"/img/icon/insta.svg")
					li
						a(href="#", title="Lifefork Twitter")
							img(src=prefix+"/img/icon/Tw.svg")
					li
						a(href="#", title="Lifefork Facebook")
							img(src=prefix+"/img/icon/Fb.svg")
					li
						a(href="#", title="Lifefork Behance")
							img(src=prefix+"/img/icon/Be.svg")




		script(type="text/javascript", src=prefix + "/js/bundle.js")
		block scripts