/*
* Footer css
*/
footer {
    position: fixed;
    padding: 20px 0 40px;
    left: 0;
    width: 100%;
    z-index: 99;
    background-image: linear-gradient(to top, #262a2d, transparent);
    bottom: 0;

    @include breakpoint($phablet) {
        padding: 10px 0 20px;
    }

    .socialMenu {
        float: right;

        li {
            float: left;
            margin-left: 20px;
            margin-top: 35px;

            @include breakpoint($phablet) {
                margin-left: 10px;

                img {
                    transform: scale(0.7);
                }
            }
        }
    }

    #time {
        display: block;
        font-weight: 800;
        font-size: 20px;
        color: $white;
        margin-bottom: 5px;
        margin-left: -40px;

        @include breakpoint($phablet) {
            font-size: 14px;
            margin-left: -25px;
        }
    }

    .address {
        position: relative;
        float: left;
        padding-left: 40px;
        font-size: 14px;
        color: $white;

        @include breakpoint($phablet) {
            font-size: 12px;
            padding-left: 25px;
        }

        img {
            position: absolute;
            left: 0;
            top: 35px;

            @include breakpoint($phablet) {
                transform: scale(0.7);
            }
        }
    }
}