/*
* Header css
*/

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 105px;
    background-image: linear-gradient(to bottom, #262a2d, transparent);

    .container {
        position: relative;
        height: 100%;
    }

    .headerLogo {
        position: absolute;
        left: 15px;
        top: 31px;
        z-index: 999;

        img {
            width: 108px;
        }
    }

    .toggleMenu {
        position: absolute;
        top: 33px;
        right: 15px;
        width: 36px;

        span {
            display: block;
            width: 100%;
            height: 3px;
            border-radius: 2px;
            background: $white;
            transition: all $animation_easing $animation_speed;
            transform-origin: 0 1px;

            &:not(:last-child) {
                margin-bottom: 9px;
            }
        }

        &.active {
            span:nth-child(1) {
                transform: rotate(43deg);
            }
            span:nth-child(3) {
                transform: rotate(-43deg);
            }
            span:nth-child(2) {
                opacity: 0;
            }
        }
    }
}

#mainMenu {
    position: absolute;
    right: 15px;
    top: 32px;

    &.active {
        display: block !important;
    }

    @include breakpoint(767px) {
        position: fixed;
        left:0;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $light_blue;
    }

    ul {
        @include breakpoint($phablet) {
            @include center(true, true);
            width: 100%;
        }
        li {
            display: inline-block;
            margin-right: 20px;

            @include breakpoint($phablet) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 15px;
                text-align: center;
            }

            &:last-child {
                margin-right: 0;
            }

            a {
                position: relative;
                display: block;
                font-size: 18px;
                font-weight: 600;
                color: $white;
                padding: 0 2px 4px;

                @include breakpoint($tablet) {
                    padding: 2px 2px 4px;
                    font-size: 16px;
                }

                @include breakpoint($phablet) {
                    font-size: 32px;
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background: $primary_border_color;
                    transition: all $animation_easing $animation_speed;
                }

                &.active, &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
}