/*
* Main css
*/
* {
    font-family: $font_primary;
    font-stretch: condensed;
}

body {
    font-weight: 400;
    background: black;
}

main {
    @include centerfix();
    overflow-x: hidden;
}

.centerfix {
    @include centerfix();
}

.fullscreen {
    min-height: 100vh;
}

.text-center {
    text-align: center;
}

.img-responsive {
    width: 100%;
}

.dTable {
    display: table;
    width: 100%;
    min-height: 100vh;
}

.vMiddle {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

/**
* MAIN SLIDER
 */
.mainSliderWrapper {
    position: relative;
    .mainSlider {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;

        .slides, .slides li {
            position: relative;
            float: left;
            width: 100%;
            min-height: 100vh;
        }

        li {
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;

            .sliderText {
                @include center(false, true);
                left: 0;
                color: $white;
                width: 30%;

                @include breakpoint($phablet) {
                    display: none;
                }

                h3 {
                    font-size: 36px;
                    font-weight: 800;
                }

                p {
                    font-size: 20px;
                    font-weight: 400;

                    b {
                        display: block;
                        font-size: 30px;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .container {
        position: relative;
        z-index: 3;
        height: 100vh;
    }

    .slideTexts {
        @include center(false, true);
        right: 0;
        color: $white;
        text-align: right;

        li {
            position: relative;
            padding-right: 60px;
            margin-bottom: 30px;
            cursor: pointer;

            @include breakpoint($phablet) {
                margin-bottom: 15px;
            }

            &.flex-active {
                h3 {
                    font-size: 36px;
                    font-weight: 800;

                    @include breakpoint($phablet) {
                        font-size: 26px;
                        font-weight: 600;
                    }

                    &:after {
                        opacity: 1;
                        width: 100%;
                    }
                }
            }

            .number {
                position: absolute;
                right: 15px;
                top: 10px;
                font-size: 20px;

                @include breakpoint($phablet) {
                    font-size: 18px;
                }
            }

            h3 {
                position: relative;
                display: inline-block;
                font-size: 20px;
                padding-bottom: 9px;
                margin-bottom: 9px;
                font-weight: 600;
                transition: all linear $animation_speed;

                @include breakpoint($phablet) {
                    font-size: 18px;
                    font-weight: 800;
                }

                &:before {
                    content: "";
                    @include center(false, false);
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: $white;
                }

                &:after {
                    content: "";
                    @include center(false, false);
                    left: 0;
                    bottom: 0;
                    width: 0%;
                    height: 2px;
                    background: $light_blue;
                    transition: width $animation_easing 4s;
                    opacity: 0;
                }

                &.active, &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }

            p {
                font-size: 13px;
                font-weight: 400;

                @include breakpoint($phablet) {
                    font-size: 11px;
                }
            }
        }
    }
    .scrollDown {
        @include center(true, false);
        bottom: 40px;
        z-index: 99;
    }
}

/**
* Tab blocks
 */
.articleBlock {
    .container {
        min-height: 100vh;
    }
    .tabBlock {
        > li {
            &:not(.active) {
                display: none;
            }

            p {
                font-weight: 700;
                color: $white;
                font-size: 22px;
                margin-top: 20px;
                line-height: 1.2;

                @include breakpoint($tablet) {
                    font-size: 16px;
                }
            }
        }
    }
    .tabNav {
        @include center(false, true);
        right: 15px;

        li {
            position: relative;
            padding-bottom: 6px;
            margin-bottom: 18px;
            text-align: right;

            &.active {
                &:after {
                    width: 260px;
                }
                a {
                    color: $light_blue;
                    font-size: 30px;
                    font-weight: 700;
                }
            }
            &:after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background: $light_blue;
                transition: all $animation_easing $animation_speed;
            }

            a {
                font-weight: 400;
                font-size: 18px;
                color: $white;
                transition: all $animation_easing $animation_speed;
            }
        }

        @include breakpoint($phablet) {
            top: auto;
            transform: translate(0,0);
            right: -15px;
            left: -15px;
            bottom: 0;
            white-space: nowrap;
            overflow: auto;

            li {
                display: inline-block;
                width: 50%;
                min-width: 180px;
                text-align: center;
                padding-bottom: 0;
                margin-bottom: 0;

                &.active {
                    &:after {
                        display: none;
                    }

                    a {
                        background: #495057;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                a {
                    display: block;
                    width: 100%;
                    line-height: 70px;
                    background: #41474d;
                }
            }
        }
    }
}

/**
* About
 */
.aboutBlock {
    background-color: #262a2d;

    &:not(.noBg) {
        &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 440px;
            background: url("../img/about/bg.jpg") top center no-repeat;
            top: 0;
            opacity: 0.9;
            z-index: 0;
            background-size: cover;

            @include breakpoint($phablet) {
                height: 280px;
            }
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 260px;
            background: url("../img/about/shadow.jpg") bottom center no-repeat;
            bottom: 0;
            z-index: 0;
            background-size: cover;

            @include breakpoint($phablet) {
                display: none;
            }
        }
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .officeSlider {
        max-height: 60vh;
        overflow: auto;

        /* width */
        &::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $light_blue;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $light_blue;
        }

        .slides {
            @include centerfix;

            li {
                position: relative;
                float: left;
                width: 33.3333%;
                max-width: 200px;
                padding-right: 10px;
                padding-bottom: 10px;
            }
        }
    }
    .office {
        img {
            width: 100%;
        }
        .hover {
            position: absolute;
            left:0;
            right: 10px;
            top: 0;
            bottom: 10px;
            opacity: 0;
            padding-right: 10px;
            transition: all $animation_easing $animation_speed;
        }
        &:hover {
            .hover {
                opacity: 1;
            }
        }
    }
}

/**
* Contact 
 */
.contact {
    background: url("../img/contact/bg.jpg") top center no-repeat #5d6265;
    background-size: cover;
    margin-top: -10px;

    @include breakpoint($phablet) {
        background-position: center center;
        background-size: 150%;
    }

    .mask {
        position: absolute;
        left: 0;
        top: 0;
        -webkit-animation: line 10s infinite; /* Safari 4.0 - 8.0 */
        animation: line 10s infinite;
        width: 0%;
        height: 100%;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100%;
            background: url("../img/contact/line.png") top center no-repeat;
            background-size: cover;

            @include breakpoint($phablet) {
                background-position: center center;
                background-size: 150%;
            }
        }
    }

    .addressPin {
        @include center(false, true);
        right: 15px;
        font-weight: 700;
        font-size: 20px;
        color: $white;
        text-align: center;
        margin-top: -160px;

        @include breakpoint($phablet) {
            font-size: 18px;
            margin-top: -150px;
        }

        @include minBreakpoint(1100px) {
            margin-top: -180px;
        }

        @include minBreakpoint(1300px) {
            margin-top: -170px;
        }

        @include minBreakpoint(1600px) {
            margin-top: -140px;
        }

        img {
            margin-top: 5px;
            height: 69px;

            @include breakpoint($phablet) {
                height: 49px;
            }
        }

        a {
            font-size: 14px;
            color: #00eace;
        }
    }

    .container {
        position: relative;
    }

}

@-webkit-keyframes line {
    0% {width: 0%;}
    50% {width: 100%;}
    99% {width: 100%;}
    100% {width: 0%;}
}

@keyframes line {
    0% {width: 0%;}
    50% {width: 100%;}
    99% {width: 100%;}
    100% {width: 0%;}
}

/**
* gallery
 */
.gallery {
    background-image: linear-gradient(to bottom, #262a2d, #363c41);

    .block {
        display: block;
        width: 100%;
        overflow: hidden;

        @include breakpoint($phablet) {
            max-height: 400px;
        }

        img {
            transition: all $animation_easing $animation_speed;
        }

        &:hover {
            img {
                transform: scale(1.2);
            }
        }
    }
}

/**
* services
 */
.services {
    text-align: center;
    background-image: linear-gradient(to bottom, #363c3f, #363c41);
    padding: 80px 0;

    @include breakpoint($phablet) {
        padding: 70px 0 50px;
    }
    &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 200px;
        background: url("../img/services/bottom-shadow.png") bottom center no-repeat;
        bottom: 0;
        z-index: 0;
        background-size: cover;

        @include breakpoint($phablet) {
            display: none;
        }
    }
    .dTable {
        min-height: 80vh;
    }
    .img {
        position: relative;
        overflow: hidden;
        width: 144px;
        height: 144px;
        border-radius: 50%;
        display: inline-block;

        img {
            @include center(true, true);
        }
    }

    .title {
        display: block;
        margin: 10px 0;

        @include minBreakpoint($tablet) {
            min-height: 60px;
        }
    }

    .list {
        list-style-type: disc;
        font-size: 14px;
        color: $white;
        text-align: left;
        list-style-position: inside;
        min-height: 100px;

        @include breakpoint($tablet) {
            text-align: center
        }

        li {
            margin-bottom: 10px;
        }
    }

    p {
        min-height: 100px;
        font-size: 14px;
        color: $white;
        text-align: center
    }

    .article {
        margin: 30px 0;
    }
}

/**
* references
 */
.references {
    text-align: center;
    background-image: linear-gradient(to bottom, #262a2d, #363c41);
    padding: 0 0 100px;

    @include breakpoint($phablet) {
        padding: 70px 0 100px;
    }

    &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 220px;
        background: url("../img/services/shadow.png") top center no-repeat;
        bottom: 0;
        z-index: 0;
        background-size: cover;

        @include breakpoint($phablet) {
            height: 130px;
        }
    }
}
.referencesSlider {
    @include centerfix;

    .slides {
        @include centerfix;

        li {
            float: left;
            width: 25%;
            margin: 35px 0;
            padding: 0 15px;

            @include breakpoint($phablet) {
                width: 50%;
            }

            a {
                display: inline-block;
                width: 100%;
                height: 100px;
                background-position: center center;
                background-repeat: no-repeat;
                transition: all $animation_easing $animation_speed;
                cursor: unset;

                @include breakpoint($phablet) {
                    background-size: contain;
                    height: 75px;
                }

                .hover {
                    display: inline-block;
                    width: 180px;
                    height: 90px;
                    background-position: bottom center;
                    background-repeat: no-repeat;
                    transition: all $animation_easing $animation_speed;
                    opacity: 0;
                }
            }

            a {
                &:hover .hover {
                    opacity: 1;
                }
            }
        }
    }
}