
/* 
*	Font Family
*/

$font1Folder: '../fonts/futura/';

@font-face {
  font-family: 'Futura';
  src: url('#{$font1Folder}FuturaLT-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font1Folder}FuturaLT-Bold.otf')  format('opentype'),
        url('#{$font1Folder}FuturaLT-Bold.woff') format('woff'),
        url('#{$font1Folder}FuturaLT-Bold.ttf')  format('truetype'),
        url('#{$font1Folder}FuturaLT-Bold.svg#FuturaLT-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('#{$font1Folder}FuturaLT-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font1Folder}FuturaLT-Medium.otf')  format('opentype'),
        url('#{$font1Folder}FuturaLT-Medium.woff') format('woff'),
        url('#{$font1Folder}FuturaLT-Medium.ttf')  format('truetype'),
        url('#{$font1Folder}FuturaLT-Medium.svg#FuturaLT') format('svg');
  font-weight: 500;
  font-style: normal;
}