/*Title css*/
.title {
	display: inline-block;

	&-primary {
		font-size: 40px;
		color: $green;
		font-weight: 900;

		@include breakpoint($tablet) {
			font-size: 30px;
		}
	}

	&-second {
		font-size: 20px;
		color: $green;

		@include breakpoint($tablet) {
			font-size: 16px;
		}
	}

	&-space {
		margin-bottom: 25px;
	}

	&-third {
		font-size: 40px;
		color: $white;

		@include breakpoint($tablet) {
			font-size: 30px;
		}
	}

	&-fourth {
		font-size: 18px;
		color: $white;
		font-weight: 900;

		@include breakpoint($tablet) {
			font-size: 16px;
		}
	}

	&-fifth {
		font-size: 48px;
		color: $white;
		font-weight: 700;

		@include breakpoint($tablet) {
			font-size: 36px;
		}
	}

	&.green {
		color: $green !important;
	}
}