/*
* Font global variable
*/
$opensans: 'Open Sans', sans-serif;

$font_primary: $opensans;

/*
* Color global variable
*/
$black 						: #000;
$white						: #fff;
$light_blue                 : #00eace;
$primary_border_color       : #00eace;
$green                      : #07d0b9;

/*Reset.scss'teki a color */
$default_link_color: #759cb1;

/*Reset.scss'teki Input font*/
$input_font: $opensans;

/*
* 	Font size global variable
*/
$font_size_xxl		: 48px;
$font_size_xl		: 36px;
$font_size_l 		: 24px;
$font_size_m 		: 18px; 
$font_size_s 		: 16px;
$font_size_xs 		: 12px;

/*
* Media query size variable
*/
$small_desktop	: 1024px;
$tablet			: 992px;
$phablet		: 768px;
$mobile			: 480px;

/*
* Animate delay
*/
$animation_speed: .5s;
$animation_easing: ease;